{% render 'partials/head.liquid' %}

<main>
  <form class="theme-switch">
    <label class="moon-button">
      <input type="radio" name="color-scheme" value="dark">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3">
        <path d="M480-120q-150 0-255-105T120-480q0-150 105-255t255-105q14 0 27.5 1t26.5 3q-41 29-65.5 75.5T444-660q0 90 63 153t153 63q55 0 101-24.5t75-65.5q2 13 3 26.5t1 27.5q0 150-105 255T480-120Z"/>
      </svg>
    </label>

    <label class="sun-button">
      <input type="radio" name="color-scheme" value="light">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3">
        <path d="M338.5-338.5Q280-397 280-480t58.5-141.5Q397-680 480-680t141.5 58.5Q680-563 680-480t-58.5 141.5Q563-280 480-280t-141.5-58.5ZM200-440H40v-80h160v80Zm720 0H760v-80h160v80ZM440-760v-160h80v160h-80Zm0 720v-160h80v160h-80ZM256-650l-101-97 57-59 96 100-52 56Zm492 496-97-101 53-55 101 97-57 59Zm-98-550 97-101 59 57-100 96-56-52ZM154-212l101-97 55 53-97 101-59-57Z"/>
      </svg>
    </label>
  </form>

  <article class="profile-card">
    <h1>{{ person.name }}</h1>

    <p class="bio">{{ person.bio }}</p>

    <img class="profile-picture" src="{{ person.avatar }}" alt="profile picture">

    <ul class="tech-stack">
      <li class="tech-logo">
        <svg class="html-logo" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11 11H405C458.019 11 501 53.9807 501 107V405C501 458.019 458.019 501 405 501H107C53.9807 501 11 458.019 11 405V11Z" fill="#E44D26"/>
          <path d="M189.875 441V330.531H212.219V374.75H228.625V330.531H250.969V441H228.625V394.906H212.219V441H189.875ZM275.344 441V350.844H257.219V330.531H315.344V350.844H297.531V441H275.344ZM321.594 441V330.531H343.938L360.656 385.531L377.688 330.531H400.031V441H377.688V383.031L366.438 421H354.875L343.938 383.5V441H321.594ZM411.438 441V330.531H433.781V421H460.656V441H411.438Z" fill="white"/>
        </svg>
      </li>
      <li class="tech-logo">
        <svg class="css-logo" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11 11H405C458.019 11 501 53.9807 501 107V405C501 458.019 458.019 501 405 501H107C53.9807 501 11 458.019 11 405V11Z" fill="#663399"/>
          <path d="M265.125 454.5C253.625 454.5 244.5 451.375 237.75 445.125C231 438.875 227.625 429.562 227.625 417.188V356.062C227.625 343.812 231.188 334.5 238.312 328.125C245.562 321.75 255.062 318.562 266.812 318.562C278.188 318.562 287.188 321.812 293.812 328.312C300.562 334.812 303.938 344.5 303.938 357.375V362.25H277.125V357.562C277.125 352.562 276.062 348.875 273.938 346.5C271.938 344 269.312 342.75 266.062 342.75C261.688 342.75 258.625 344.25 256.875 347.25C255.25 350.25 254.438 354.688 254.438 360.562V413.625C254.438 424.75 258.312 430.375 266.062 430.5C269.688 430.5 272.438 429.188 274.312 426.562C276.188 423.938 277.125 420.25 277.125 415.5V411.562H303.938V415.688C303.938 424.312 302.25 431.5 298.875 437.25C295.5 443 290.875 447.312 285 450.188C279.25 453.062 272.625 454.5 265.125 454.5ZM350.25 454.5C338.5 454.5 329.5 451.062 323.25 444.188C317 437.312 313.75 427.438 313.5 414.562H338.812C338.938 425.938 342.938 431.625 350.812 431.625C354.812 431.625 357.625 430.375 359.25 427.875C360.875 425.375 361.688 421.375 361.688 415.875C361.688 411.5 360.625 407.875 358.5 405C356.375 402.125 352.812 399.562 347.812 397.312L338.438 392.812C330.062 388.812 324 384.062 320.25 378.562C316.625 373.062 314.812 365.375 314.812 355.5C314.812 344.5 318 335.562 324.375 328.688C330.875 321.812 339.812 318.375 351.188 318.375C362.188 318.375 370.688 321.75 376.688 328.5C382.812 335.25 386 344.938 386.25 357.562H361.875C361.75 352.188 360.938 348.188 359.438 345.562C358.062 342.812 355.375 341.438 351.375 341.438C344.25 341.438 340.688 345.688 340.688 354.188C340.688 358.438 341.562 361.812 343.312 364.312C345.188 366.688 348.25 368.812 352.5 370.688L361.5 374.625C370.75 378.875 377.438 384.125 381.562 390.375C385.688 396.625 387.75 405 387.75 415.5C387.75 428 384.438 437.625 377.812 444.375C371.188 451.125 362 454.5 350.25 454.5ZM432 454.5C420.25 454.5 411.25 451.062 405 444.188C398.75 437.312 395.5 427.438 395.25 414.562H420.562C420.688 425.938 424.688 431.625 432.562 431.625C436.562 431.625 439.375 430.375 441 427.875C442.625 425.375 443.438 421.375 443.438 415.875C443.438 411.5 442.375 407.875 440.25 405C438.125 402.125 434.562 399.562 429.562 397.312L420.188 392.812C411.812 388.812 405.75 384.062 402 378.562C398.375 373.062 396.562 365.375 396.562 355.5C396.562 344.5 399.75 335.562 406.125 328.688C412.625 321.812 421.562 318.375 432.938 318.375C443.938 318.375 452.438 321.75 458.438 328.5C464.562 335.25 467.75 344.938 468 357.562H443.625C443.5 352.188 442.688 348.188 441.188 345.562C439.812 342.812 437.125 341.438 433.125 341.438C426 341.438 422.438 345.688 422.438 354.188C422.438 358.438 423.312 361.812 425.062 364.312C426.938 366.688 430 368.812 434.25 370.688L443.25 374.625C452.5 378.875 459.188 384.125 463.312 390.375C467.438 396.625 469.5 405 469.5 415.5C469.5 428 466.188 437.625 459.562 444.375C452.938 451.125 443.75 454.5 432 454.5Z" fill="white"/>
        </svg>
      </li>
      <li class="tech-logo">
        <svg class="js-logo" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11 11H405C458.019 11 501 53.9807 501 107V405C501 458.019 458.019 501 405 501H107C53.9807 501 11 458.019 11 405V11Z" fill="#FFFF00"/>
          <path d="M343.688 453V428.625H346.125C354 428.625 357.938 424.688 357.938 416.812V320.438H384.75V419.812C384.75 441.938 372.438 453 347.812 453H343.688ZM432 454.5C420.25 454.5 411.25 451.062 405 444.188C398.75 437.312 395.5 427.438 395.25 414.562H420.562C420.688 425.938 424.688 431.625 432.562 431.625C436.562 431.625 439.375 430.375 441 427.875C442.625 425.375 443.438 421.375 443.438 415.875C443.438 411.5 442.375 407.875 440.25 405C438.125 402.125 434.562 399.562 429.562 397.312L420.188 392.812C411.812 388.812 405.75 384.062 402 378.562C398.375 373.062 396.562 365.375 396.562 355.5C396.562 344.5 399.75 335.562 406.125 328.688C412.625 321.812 421.562 318.375 432.938 318.375C443.938 318.375 452.438 321.75 458.438 328.5C464.562 335.25 467.75 344.938 468 357.562H443.625C443.5 352.188 442.688 348.188 441.188 345.562C439.812 342.812 437.125 341.438 433.125 341.438C426 341.438 422.438 345.688 422.438 354.188C422.438 358.438 423.312 361.812 425.062 364.312C426.938 366.688 430 368.812 434.25 370.688L443.25 374.625C452.5 378.875 459.188 384.125 463.312 390.375C467.438 396.625 469.5 405 469.5 415.5C469.5 428 466.188 437.625 459.562 444.375C452.938 451.125 443.75 454.5 432 454.5Z" fill="black"/>
        </svg>
      </li>
      <li class="tech-logo">
        <svg class="nodejs-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
          <path fill="#83CD29" d="M112.771 30.334L68.674 4.729c-2.781-1.584-6.402-1.584-9.205 0L14.901 30.334C12.031 31.985 10 35.088 10 38.407v51.142c0 3.319 2.084 6.423 4.954 8.083l11.775 6.688c5.628 2.772 7.617 2.772 10.178 2.772 8.333 0 13.093-5.039 13.093-13.828v-50.49c0-.713-.371-1.774-1.071-1.774h-5.623C42.594 41 41 42.061 41 42.773v50.49c0 3.896-3.524 7.773-10.11 4.48L18.723 90.73c-.424-.23-.723-.693-.723-1.181V38.407c0-.482.555-.966.982-1.213l44.424-25.561c.415-.235 1.025-.235 1.439 0l43.882 25.555c.42.253.272.722.272 1.219v51.142c0 .488.183.963-.232 1.198l-44.086 25.576c-.378.227-.847.227-1.261 0l-11.307-6.749c-.341-.198-.746-.269-1.073-.086-3.146 1.783-3.726 2.02-6.677 3.043-.726.253-1.797.692.41 1.929l14.798 8.754a9.294 9.294 0 004.647 1.246c1.642 0 3.25-.426 4.667-1.246l43.885-25.582c2.87-1.672 4.23-4.764 4.23-8.083V38.407c0-3.319-1.36-6.414-4.229-8.073zM77.91 81.445c-11.726 0-14.309-3.235-15.17-9.066-.1-.628-.633-1.379-1.272-1.379h-5.731c-.709 0-1.279.86-1.279 1.566 0 7.466 4.059 16.512 23.453 16.512 14.039 0 22.088-5.455 22.088-15.109 0-9.572-6.467-12.084-20.082-13.886-13.762-1.819-15.16-2.738-15.16-5.962 0-2.658 1.184-6.203 11.374-6.203 9.105 0 12.461 1.954 13.842 8.091.118.577.645.991 1.24.991h5.754c.354 0 .692-.143.94-.396.24-.272.367-.613.335-.979-.891-10.568-7.912-15.493-22.112-15.493-12.631 0-20.166 5.334-20.166 14.275 0 9.698 7.497 12.378 19.622 13.577 14.505 1.422 15.633 3.542 15.633 6.395 0 4.955-3.978 7.066-13.309 7.066z"/>
        </svg>
      </li>
    </ul>
  </article>
</main>

{% comment %} [peron: person] geeft de JSON door naar de footer {% endcomment %}
{% render 'partials/foot.liquid' person: person %}
