{% render 'partials/head.liquid' %}

<article class="profile-card">

  <header>
    <h1>Hoi,👋ik ben {{ person.name }}</h1>
  </header>

  <p>{{ person.bio }}</p>

  <ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>Liquid</li>
  </ul>
  
  <input type="checkbox">
  
  <img src="{{ person.avatar }}">

</article>


{% render 'partials/foot.liquid' %}
