* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  color-scheme: light dark;

  --primary-background-color: light-dark(oklch(92% 0 0), oklch(10% 0 0));
  --secondary-background-color: light-dark(oklch(96% 0 0), oklch(20% 0 0));
  --tertiary-background-color: light-dark(oklch(100% 0 0), oklch(30% 0 0));

  --primary-accent-color: light-dark(oklch(5% 0 0), oklch(95% 0 0));
  --secondary-accent-color: light-dark(oklch(30% 0 0), oklch(70% 0 0));

  --primary-shadow:
    inset 0 1px 2px oklch(100% 0 0 / 18.82%), 0 2px 4px oklch(0 0 0 / 18.82%),
    0 4px 8px oklch(0 0 0 / 8.24%);
}

html:has([value="light"]:checked) {
  color-scheme: light;

  label:nth-of-type(1) {
    display: grid;
  }

  label:nth-of-type(2) {
    display: none;
  }
}

html:has([value="dark"]:checked) {
  color-scheme: dark;

  label:nth-of-type(1) {
    display: none;
  }

  label:nth-of-type(2) {
    display: grid;
  }
}

@media (prefers-color-scheme: dark) {
  label:nth-of-type(1) {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  label:nth-of-type(2) {
    display: none;
  }
}

body {
  background-color: var(--primary-background-color);

  main {
    display: grid;
    place-items: center;
    min-height: 90dvh;
  }
}

.light-dark-mode-switch {
  position: fixed;
  top: 25px;
  right: 25px;
}

label {
  background-color: var(--tertiary-background-color);
  padding: 0.5rem;
  border-radius: 50%;
  height: 50px;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  box-shadow: var(--primary-shadow);

  &:hover {
    cursor: pointer;
  }

  &:active {
    box-shadow: none;
  }

  input {
    display: none;
  }
}

.profile-card {
  background-color: var(--secondary-background-color);
  border-radius: 3rem;
  padding: 3rem;

  display: grid;
  place-items: center;
  gap: 1rem;

  box-shadow: var(--primary-shadow);

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: flex-start;
    padding: 6rem 3rem;
  }
}

h1 {
  color: var(--primary-accent-color);
  font-size: 1.75rem;

  @media (min-width: 350px) {
    font-size: 2rem;
  }

  @media (min-width: 1024px) {
    font-size: 3rem;
  }
}

.bio {
  color: var(--secondary-accent-color);
  font-size: 1rem;
  width: 220px;
  text-align: center;

  @media (min-width: 336px) {
    width: 239px;
  }

  @media (min-width: 1024px) {
    text-align: left;
    font-size: 1.5rem;
    width: 359px;
  }

  span {
    color: var(--primary-accent-color);
  }
}

.profile-picture {
  border-radius: 1rem;
  width: 220px;

  @media (min-width: 1024px) {
    grid-area: 1 / 2 / 4 / 3;
    width: 300px;
    margin-left: auto;
  }
}

.tech-stack {
  list-style-type: none;
  display: flex;
  gap: 1rem;

  /* .tech-logo:nth-of-type(1) {
    animation-delay: 0.1s;
  }

  .tech-logo:nth-of-type(2) {
    animation-delay: 0.2s;
  }

  .tech-logo:nth-of-type(3) {
    animation-delay: 0.3s;
  }

  .tech-logo:nth-of-type(4) {
    animation-delay: 0.4s;
  } */

  .tech-logo {
    height: 43px;
    aspect-ratio: 1;
    /* animation-name: --tech-stack-animation;
    animation-duration: 0.5s;
    animation-timing-function: linear; */

    @media (min-width: 1024px) {
      height: 65px;
    }

    path:nth-of-type(1) {
      fill: var(--logo-background-color, var(--primary-accent-color));
    }

    path:nth-of-type(2) {
      fill: var(--logo-text-color, var(--secondary-background-color));
    }

    path {
      transition: fill 0.1s ease;
    }

    .html-logo:hover {
      --logo-background-color: oklch(62.48% 0.194 35.07);
      --logo-text-color: oklch(100% 0 0);
    }

    .css-logo:hover {
      --logo-background-color: oklch(44.03% 0.1603 303.37);
      --logo-text-color: oklch(100% 0 0);
    }

    .js-logo:hover {
      --logo-background-color: oklch(96.8% 0.211 109.77);
      --logo-text-color: oklch(0% 0 0);
    }

    .nodejs-logo:hover {
      path {
        fill: oklch(77.08% 0.1995 131.8);
      }
    }
  }
}

/* @keyframes --tech-stack-animation {
  from {
    transform: translateY(1rem);
  }
  to {
    transform: translateY(0);
  }
} */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 10dvh;
  padding: 0 25px;

  @media (min-width: 500px) {
    flex-direction: row;
  }

  .personal-website-link {
    color: var(--primary-accent-color);
    display: flex;
    align-items: center;

    text-decoration: underline transparent;

    transition: text-decoration 0.1s ease;

    &:hover {
      text-decoration: underline;
    }

    .external-link-logo {
      height: 1rem;

      path {
        stroke: var(--primary-accent-color);
        fill: none;
      }
    }
  }

  .github-logo {
    position: fixed;
    bottom: 25px;
    right: 25px;

    height: 50px;
    width: 50px;

    path {
      fill: var(--primary-accent-color);
    }

    &:active path {
      fill: var(--secondary-accent-color);
    }
  }
}
