* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --primary-background-color: oklch(10% 0 0);
  --secondary-background-color: oklch(20% 0 0);
  --tertiary-background-color: oklch(30% 0 0);

  --primary-accent-color: rgb(238, 238, 238);
  --secondary-accent-color: oklch(70% 0 0);

  --font-size-s: 1rem;
  --font-size-m: 1.5rem;
  --font-size-l: 3rem;
}

body {
  background-color: var(--primary-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 1rem;
}

article {
  height: 500px;
  max-width: 875px;

  background-color: var(--secondary-background-color);
  border-radius: 3rem;
  padding: 3rem;
  gap: 3rem;

  font-family: Arial, sans-serif;

  display: flex;
  align-items: center;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

h1 {
  color: var(--primary-accent-color);
  font-size: var(--font-size-l);
}

p {
  color: var(--secondary-accent-color);
  font-size: var(--font-size-m);
}

ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 75px;
  height: 75px;

  img {
    max-height: 100%;
  }
}

img {
  border-radius: 1rem;
  height: 300px;

  /* &:hover {
    border-radius: 2rem;
    transition: all 0.5s ease-in-out;
  } */
}

path:nth-of-type(1) {
  fill: var(--logo-background-color, var(--primary-accent-color));
}

path:nth-of-type(2) {
  fill: var(--logo-text-color, var(--secondary-background-color));
}

path {
  transition: all 0.1s ease;
}

.html-logo:hover {
  --logo-background-color: #e44d26;
  --logo-text-color: #fff;
}

.css-logo:hover {
  --logo-background-color: #663399;
  --logo-text-color: #fff;
}

.js-logo:hover {
  --logo-background-color: #ffff00;
  --logo-text-color: #000;
}

.nodejs-logo:hover path {
  fill: #83cd29;
}
