* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  --primary-background-color: oklch(10% 0 0);
  --secondary-background-color: oklch(20% 0 0);
  --tertiary-background-color: oklch(30% 0 0);

  --primary-accent-color: oklch(95% 0 0);
  --secondary-accent-color: oklch(70% 0 0);
}

body {
  background-color: var(--primary-background-color);
  display: grid;
  place-items: center;
  /* min-height: 100dvh; */
}

article {
  background-color: var(--secondary-background-color);
  border-radius: 3rem;
  padding: 3rem;
  
  
  display: grid;
  justify-items: center;
  gap: 1rem;
  
  box-shadow: inset 0 1px 2px #ffffff30, 0 1px 2px #00000030, 0 2px 4px #00000015;

  /* @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  } */
}

h1 {
  color: var(--primary-accent-color);
  font-size: 1.5rem;
  /* justify-self: center; */
}

p {
  color: var(--secondary-accent-color);
  font-size: 1rem;
  width: 220px;
  text-align: center;
}

span {
  color: var(--primary-accent-color);
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  width: 220px;
  gap: 1rem;
}

li {
  width: 43px;
  height: 43px;
}

img {
  border-radius: 1rem;
  width: 220px;

  /* @media (min-width: 768px) {
    grid-area: 1 / 2 / 4 / 3;
  } */
}

path:nth-of-type(1) {
  fill: var(--logo-background-color, var(--primary-accent-color));
}

path:nth-of-type(2) {
  fill: var(--logo-text-color, var(--secondary-background-color));
}

path {
  transition: all 0.1s ease;
}

.html-logo:hover {
  --logo-background-color: #e44d26;
  --logo-text-color: #fff;
}

.css-logo:hover {
  --logo-background-color: #663399;
  --logo-text-color: #fff;
}

.js-logo:hover {
  --logo-background-color: #ffff00;
  --logo-text-color: #000;
}

.nodejs-logo:hover path {
  fill: #83cd29;
}